<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>context</title>
</head>
{% include 'header.html' %}
<body bgcolor="#f3ede2">
    <h1><center>Context</center></h1>
    <br>
    <br>
    <hr>
    <h3><center>haiiii!{{name}}</center></h3>
    <hr>
    <h3><center>your number:{{num}}</center></h3>
    <hr>
    <h3><center>visitor:{{count}}</center></h3>
    <hr>
    
    <h3><center>FRUITS:<br>{% for f in fruits %}{{f}}<br> {% endfor %}</center></h3>
    <hr>

    <h3><center>student details</center></h3>
    <h4><center>name:{{name}}</center></h4>
    <h4><center>age:{{age}}</center></h4>
    <h4><center>city:{{city}}</center></h4>
    <br>
    <hr>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
{% include 'footer.html' %}
</html>